.nlform input:not([type=checkbox]):not([type=radio]) {
    border-top: 0 solid;
    border-right: 0 solid;
    border-bottom: 1px solid;
    border-left: 0 solid;
    border-color: #999;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-top: 10px;
}
