.topbar{
    width: 100%;
    color: #333;
    font-size: 14px;
    /* background-color: rgb(68, 65, 65); */
}
.nav-items{
    font-size: 14px;
}
.search-panel{
    min-height: 280px;
}
ul{
    list-style-type: none;
  }

.skilledjobs .skilled-item li{
    font-size: 16px;
    text-decoration: none;
}  
.category{
    background-color:#eeeeee ;
}
.HOTJOBS{
    background-color: #fff;
}
.social-links a{
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: gray;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
.social-links a:hover{
    background:rgb(39, 104, 224);
    color: #fff;
    text-decoration: none;
  }
/* .all-traning a{
    display: block;
    position: relative;
    white-space: normal;
    text-decoration: none;
}   */
/* Footer start */
.footer_main{
    padding:30px 0;
    color: #263238;
    background-color: #263238;
  }
  .f1{
      color: #C6C6C6;
  }
  .f1 p{
      font-weight: 300;
      padding:0;
      color:#BBBBBB;
  }
  .f1 a{
      font-weight: 300;
      color: #BBBBBB;
  }
  .f1 a:hover{
      color:#F03C02;
      text-decoration: none;
  }
  .f2{
      margin-left: 2%;
  }
  /* Footer end */
  /* Under footer start */
  .up_footer{
    padding:50px 0;
    background-color: #111111;
  }
  .down_footer{
    padding:10px 0;
    background-color: #0A0A0A;
  }
  .icon:hover{
    transform: rotate(340deg);
    color: #109E51;
  }
  .icon{
      color:#C03E0B;
  }
  .s-icon{
      color:#109E51;
  }
  .im{
    color: #109E51;
  }
  .container p{
     margin:0;
     padding-bottom: 4px;
  }