.topbar{
    width: 100%;
    color: #333;
    
    font-size: 14px;
    /* background-color: rgb(68, 65, 65); */
}
.nav-items{
    font-size: 14px;
}
.search-panel{
    min-height: 280px;
}

.category{
    background-color:#eeeeee ;
}
.HOTJOBS{
    background-color: #fff;
}
.social-links a{
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: gray;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
.social-links a:hover{
    background:rgb(39, 104, 224);
    color: #fff;
    text-decoration: none;
  }